@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
}
body,
html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.outer-container {
  display: flex;
  min-height: 100%;
  width: 100%;
  background-color: #1e293b;
}
.result-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}
#bg-container {
  flex: none;
  height: auto;
  min-height: 450px;
  position: relative;
}
.unit-toggle {
  position: relative;
  margin-top: 1rem;
}

#forecast-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  overflow: hidden;
}

#forecast-container .card {
  flex: 0 0 auto;
  width: 160px;
}

.toast {
  @apply bg-red-500 text-white px-4 py-2 rounded shadow-lg mb-2 opacity-0 transition-opacity duration-500;
}
.toast.show {
  @apply opacity-100;
}
